<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DbTest"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\KPI\ГрафІнтерфейси\GraphicInterfaces\lab4\lab4\Data\DbTest.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>