<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="RelDataBaseConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\KPI\ГрафІнтерфейси\GraphicInterfaces\lab5\lab5\Data\DBTestRel.mdf;Integrated Security=True" />
	</connectionStrings>
</configuration>